<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="EpServerEngineSampleClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="EpServerEngineSampleClient.Properties.Settings.Client_SQL_DB2ConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Daniel\dev\Client-SQL.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
    <add name="EpServerEngineSampleClient.Properties.Settings.c__users_daniel_dev_Client_SQL_mdfConnectionString"
      connectionString="Data Source=NEWWINDOWS\SQLEXPRESS;Initial Catalog=c:\users\daniel\dev\Client-SQL.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="EpServerEngineSampleClient.Properties.Settings.Client_SQLConnectionString"
      connectionString="Data Source=NEWWINDOWS\SQLEXPRESS;Initial Catalog=Client-SQL;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="EpServerEngineSampleClient.Properties.Settings.Client_SQL2ConnectionString"
      connectionString="Data Source=NEWWINDOWS\SQLEXPRESS;Initial Catalog=Client-SQL2;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <EpServerEngineSampleClient.Properties.Settings>
      <setting name="func1_type" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="func1_port" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="func2_type" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="func2_port" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="func3_type" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="func3_port" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DESK_LIGHT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EAST_LIGHT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NORTHWEST_LIGHT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SOUTHEAST_LIGHT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MIDDLE_LIGHT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WEST_LIGHT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NORTHEAST_LIGHT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SOUTHWEST_LIGHT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BENCH_24V_1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BENCH_24V_2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BENCH_12V_1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BENCH_12V_2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BENCH_5V_1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BENCH_5V_2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BENCH_3V3_1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BENCH_3V3_2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BENCH_LIGHT1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BENCH_LIGHT2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CABIN1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CABIN2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CABIN3" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CABIN4" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CABIN5" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CABIN6" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CABIN7" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CABIN8" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="COOP1_LIGHT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="COOP1_HEATER" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="COOP2_LIGHT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="COOP2_HEATER" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WATER_HEATER" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BATTERY_HEATER" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WATER_PUMP" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WATER_VALVE1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WATER_VALVE2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WATER_VALVE3" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OUTDOOR_LIGHT1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OUTDOOR_LIGHT2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="silent_mode" serializeAs="String">
        <value>False</value>
      </setting>
    </EpServerEngineSampleClient.Properties.Settings>
  </userSettings>
</configuration>